@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');
*{ font-family: 'Noto Sans KR', sans-serif; color: #000; box-sizing: border-box;}
html{ font-size: 20px; }
/*마진을 초기화하는 단계가 중요 다른 객체에 방해가 될 수 있음.*/
boby { margin: 0; }
/*하이퍼링크 밑줄 제거*/
a { text-decoration: none; }
/*순번 점 표시와 들여 쓰기 없애는 방법*/
ul, ol { list-style: none; margin: 0; padding: 0;}
dl, dt, dd { margin: 0; padding: 0; }
img { border: 0; }

/*헤더 영역 S*/
header{ display: flex; justify-content: space-between; height: 80px; align-items: center;}
header > section:first-of-type{width: 208px; text-align: center;}
header > section:last-of-type{flex-grow: 1; padding-right: 20px; text-align: right;}
header .btn_area a { display: inline-block; width: 90px; height: 28px; border: 1px solid #596b99; color: #153ea4; border-radius: 3px; line-height: 26px; text-align: center; font-weight: 900;}
header .btn_area a:last-of-type { background: #5a7ca9; color: #ffffff; }


/*헤더 영역 E*/

/*내용 영역 S */
main { background: #e5dada; min-height: 1000px; display: flex; }
main > aside { width: 208px; background: #395e70; }
main > section { flex-grow: 1; padding: 50px; }

main > aside > a { display: block; height: 71px; color: #fff9f9; font-size: 1.385rem; text-align: center; line-height: 70px; position: relative; }
main > aside > a + a { border-top: 1px solid #f80c0c;}
main > aside > a i { color: #b46ab9; font-size: 1.385rem; }
main > aside > a.on, main > aside > a:hover { background: #d09f31; }
main > aside > a.on:after, main > aside > a:hover:after { content: ''; display: block; width: 8px; height: 100%; right: 0; top: 0; background: #f1f3fa; position: absolute;}

nav.submenus { box-shadow: 1px 1px 5px #cdced5; height: 60px; background: #fff; border-radius: 5px; margin-bottom: 50px; display: flex; align-items: center; }
nav.submenus a { height: 60px; line-height: 60px; padding: 0 40px; font-size: 1.385rem; color: #222; }
nav.submenus a.on { background: #596b99; color: #fff; font-weight: 500; }
/*내용 역영 E */

/*.box{ width: 100px; height: 100px; background: orange; padding: 30px; border: 1px solid red;}*/